/*  your css code here. If applicable */

.header{
	text-align: center;
	background-color: #011e29;
	color: white;
	padding: 10px;
}

#container{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.latest-news-section{
	background-color: white;
	height: 5px:
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	flex: 1;

}

.main-section{
	flex: 2;
	text-align: center;
	background-color: white;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.pictorial-news-section{
	flex: 1;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}